@model IEnumerable<PharmacyManagmentSystem.Models.Currency>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:inline;">All Currencies</h1>
    <a asp-action="Create" class="btn btn-success text-white" style="float:right;">Add New Currency</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Currency Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CurrencyID" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CurrencyID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CurrencyID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
